html {
  font-family: "Open Sans", sans-serif;
}

body {
  /*display: flex;
  flex-direction: column;*/
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

.map {
  height: 200px;
}

.file-select{
  padding: 1rem;
}

.voter-info {
  padding: 1rem;
}

input[type="text"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  height: 4rem;
  box-sizing: border-box;
}

button {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

.load-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
  z-index: 2000;
  animation: pulse-overlay 1s infinite;
}

@keyframes pulse-overlay {
  0% {
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  50% {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  100% {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.toast {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 2000;
  opacity: 1;
  transition: opacity 2s ease-in;
}

.toast-success {
  background-color: #83bf15;
  color: white;
  font-weight: bold;
}

.toasting-out {
  opacity: 0;
}

.hidden {
  display: none;
}

.list-container {
  width: 100%;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style-type: circle;
  padding: 18px;
  line-height: 1.5;
}